.main{
    justify-content: center;
    border-style:groove;
    margin: 20%;
    background-color: aquamarine;
    border-radius: 50%;
    text-align: center;
    justify-content: space-around;
    padding: 1rem 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}